---
import { db, Plantas } from "astro:db";
import Modal from "./Modal.astro";
import Carrousel from "./Carrousel.astro";

const plants = await db.select().from(Plantas).all();
---

<!-- lg:grid xl:grid-cols-5 md:grid-cols-4 lg:gap-x-6 lg:space-y-0 -->
<div class="flex flex-col">
  <h3 class="text-2xl font-bold ml-10">Our Bouquets</h3>
  <div class="bg-blue-900 h-full mx-18 my-10 shadow-xl">
    <div class="flex flex-wrap mt-8 gap-4 justify-center">
      {
        plants.slice(0, 6).map(({ id, name }) => {
          return (
            <div class="bg-white w-75 rounded-lg shadow-lg border-2 p-6 h-auto hover:scale-105 transition-transform duration-300 hover:bg-pink-300 ">
              <img
                src={`/images/${id}.webp`}
                alt={name}
                class="border-1 rounded-md mb-4 w-full h-75"
              />
              <p class="text-xl font-medium text-center mb-4">{name}</p>
            </div>
          );
        })
      }
    </div>
  </div>

  <!-- {
    plants.map(({ id, name, description }) => (
      <div class="group relative bg-white mt-4 p-4 rounded-lg shadow-lg h-auto">
        <img
          src={`/images/${id}.webp`}
          alt={name}
          class="w-full h-75 rounded-lg "
        />
        <p class="text-2xl font-medium text-center m-2">{name}</p>
        <p class="text-sm mb-5">{description}</p>
        <div class="absolute bottom-0 left-0 right-0 mb-2 flex justify-center">
          <Modal />
        </div>
      </div>
    ))
  } -->
</div>
